contourpy==1.2.0
cycler==0.12.1
fonttools==4.47.0
kiwisolver==1.4.5
matplotlib==3.8.2
-e git+https://github.com/corbinklett/modsim.git@f930112b52e4a00123c51b93c6d274860163d047#egg=modsim
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
pyparsing==3.1.1
python-dateutil==2.8.2
scipy==1.11.4
six==1.16.0
